* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #141b1c;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: white;
}

.tables-main {
  display: flex;
  margin: auto;
}

.price-card {
  margin: 9px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 770px;
  overflow: hidden;
  background: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  &__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 33px auto;
    font-size: 35px;
    font-weight: 700;
    line-height: 43px;
    &-website {
      display: flex;
      justify-content: center;
      font-size: 20px;
      line-height: 24px;
      font-weight: 300;
    }
  }
  &__price {
    font-weight: 700;
    font-size: 55px;
    line-height: 105px;
    width: 380px;
    text-align: center;
    background-color: #5bb189;
  }
}

.action {
  display: flex;
  font-size: 14px;
  width: 147px;
  height: 25px;
  font-weight: 700;
  text-align: center;
  top: 30px;
  right: -29px;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: #dc3f45;
  vertical-align: middle;
  transform: rotate(45deg);
}

.price-card__description {
  margin: auto 35px;
  text-align: center;
  display: flex;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.blue {
  background-color: #3a6ba5;
}

.orange {
  background-color: #ec632a;
}

.price-card__options-list {
  list-style-type: none;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  li {
    padding: 16px 0px;
    img {
      margin: 0 22px;
    }
  }
  li:nth-child(odd) {
    background: #2e3b40;
  }
}

.price-card-btn {
  width: 155px;
  height: 40px;
  background-color: #5bb189;
  text-align: center;
  margin: auto;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: white;
}
